@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:transparent !important;">
  <h1 style="color: #6495ed;"><b>ALFABET</b></h1>
    <p class="lead">Start your trial or subscribe now</p>
@*    <p><a href="http://www.softwareag.com/UK/products/aris_alfabet/it_planning/overview/default.asp" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-1 rounded"style="height: 200px !important;">
    <h3 style="color: cornflowerblue;">Start trial</h3>
    <p>
      Try the platform with basic options
    </p>
    <div style="text-align: right; vertical-align: bottom;  display: inline-block;" class="align-bottom align-text-bottom">
      <p><br /><br /><br />
        <a class="btn btn-warning" href="http://www.softwareag.com/UK/products/aris_alfabet/it_planning/overview/default.asp">Start &raquo;</a>
      </p>
    </div>

  </div>

  <div class="col-md-2 text-center vcenter" style="height: 200px !important; line-height:200px;" >
    <span style="font-size:26px;">or</span>
  </div>

  <div class="col-md-4  rounded" style="height:200px !important; ">
    <h3 style="color: cornflowerblue;">Create your subscription plan</h3>
    <ul>
      <li>Chose features set</li>
      <li>Seelct number of users</li>
      <li>Seelct number of databases</li>
    </ul>

    <p><br />
      @Html.ActionLink("Start >>", "Subscribe", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" }) 
      @*<a class="btn btn-primary" href="~/Views/Account/Subscription.cshtml">Subscribe &raquo;</a>*@
    </p>
  </div>

</div>